.head {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--var-color4);
    min-height: 150px;
}
.contenant {
    width: 100%;
}
/*SEANCES*/

  /*--SEANCE1*/
  .titre-seance1 { 
    .fr_lang:before {
      content: ' FILMS RÉCENTS \A #1';}
    .en_lang:before {
      content: ' RECENT FILMS \A #1';}
  }  
    /*---SLIDER SEANCE1*/
/* .bgcard1 {
    background-image: url('https://lightcone.org/media/1/25268.jpg');
} */
  
  
    /*--SEANCE2*/
  .titre-seance2 { 
    .fr_lang:before {
      content: ' ILLUSIONS \A PERCEPTIONS'; /*TITRE SEANCE2 FR*/}   
    .en_lang:before {
      content: ' ILLUSIONS \A PERCEPTIONS'; /*TITRE SEANCE2 EN*/}
  }  
    /*---SLIDER SEANCE2*/
  /* .bgcard2 {
    background-image: url('https://lightcone.org/media/1/24985.jpg');} */
  
  
    /*--SEANCE3*/
  .titre-seance3 { 
    .fr_lang:before {
      content: ' VISIONS \A HALLUCINATIONS'; /*TITRE SEANCE FR*/}  
    .en_lang:before {
      content: ' VISIONS \A HALLUCINATIONS'; /*TITRE SEANCE EN*/}
  }  
    /*---SLIDER SEANCE3*/
  /* .bgcard3 {
    background-image: url('https://lightcone.org/media/1/26218.jpg');} */
  
  
    /*--SEANCE4*/
  .titre-seance4 { 
    .fr_lang:before {
      content: ' ISOLEMENT \A CONFINEMENT'; /*TITRE SEANCE FR*/} 
    .en_lang:before {
      content: ' ISOLATION \A DISTANCIATION'; /*TITRE SEANCE EN*/}
  }  
    /*---SLIDER SEANCE4*/
  /* .bgcard4 {
    background-image: url('https://lightcone.org/media/4/24206.png');} */
  
  /* SLIDER */
.swiper-main {
    height: 100%; 
    text-align: center; 
    max-width:1400px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    align-items: center;
}
.swiper {
    height: 400px;
}
.swiper-container {
    max-width: 988px;
    width: 100%;
    height: 400px;
    margin: 0px auto;
    overflow:hidden;
    text-align:center;
    display: inline-flex;
}
.swiper-wrapper {
    height:400px;
    display:-webkit-box;
    display:-moz-box;
}
.swiper-slide {
    width: auto;
    margin-right: 10px;
}  
.swiper-card {
    color: rgba(var(--color1));
    text-align:center;
    padding: 30px 0 ;
    height: 340px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: var(--var-color4);
    transition:0.05s;
}
.swiper-card:hover {
    color:white;
}
  .swiper-wp8-horizontal{
    -ms-touch-action:pan-y;
    touch-action:pan-y}
  
  .seance-semaine1 {
    .fr_lang:before {
      content: '15-21 JUIN';}  
    .en_lang:before {
      content: 'JUNE 15-21';}
  }
  .seance-semaine2 { 
    .fr_lang:before {
      content: '22-28 JUIN';}   
    .en_lang:before {
      content: 'JUNE 22-28';}
  }
  /* --BOUTON SLIDER FLÈCHES PREV & NEXT*/
.swiper-button-next, .swiper-button-prev {
    z-index:9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100px;
    height: 61px;
    font-size: 60px;
    position: inherit;
    /*top: 424px;*/
    outline: none;
    cursor:pointer;
    margin: auto 40px;
    color: grey;
    user-select: none; 
    font-family: 'Courier Prime', monospace;
    text-align:center;
    background: white;
    border-radius:60px;
    vertical-align:middle; 
    line-height:0.4em;
    padding: 20px;
    & svg {
      width: 100%;
      height: 100%;
    }
}
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: rgba(var(--color1));}
  
  .swiper-button-prev {left:0}
  .button-txt {font-size:10px !important;text-transform: uppercase;}
  
  
  .swiper-button-next {right:0}
  
  /* --BOUTON SLIDER FLÈCHE BAS*/
  #arrow-down {
    fill:white;
    width:15%;
    max-width:30px
  }
#arrow-down:hover {
    fill:rgba(var(--color1));
}
