/* --BOUTON 1 FLÈCHE RETOUR VERS LE HAUT */
#button {
    display: inline-block;
    background-color: var(--var-color5);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    border: 6px solid var(--var-color3);
    position: fixed;
    bottom: 60px;
    right: 60px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2em;
    line-height: 40px;
    color: var(--color2);
  }
  #button:hover {
    cursor: pointer;
    opacity:1;
    background-color: rgba(var(--color1));
  }
  #button:active {
    background-color: var(--color2);
  }
  #button.show {
    opacity: 0.9;
    visibility: visible;
  }