.seance {
    font-size:16px;
    text-align:center;}
  
  .list {
    font-size:18px;
    text-decoration:none;
    .fr_lang:before {
      content: 'Voir la liste des films';}
    .en_lang:before {
      content: 'See list of films';}
  }
  .list:hover {
    color: var(--var-color3);
    text-decoration:underline;}
  
  .titre-seance {
    font-size:28px;
    white-space: pre-wrap;
    padding: 20px 41px;
    color:white}
  .titre-seance:hover {
    color: var(--var-color3);}