.footer {
    background-color: var(--var-color4);
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer-svg {
    transform: rotate(180deg);
    width: 100%;
    position: relative;
    top: -1px;
}
.footer span {
    position: relative;
    bottom: 10px;
    color: var(--var-color2);
  }